<h1>Dashboard</h1>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    [routerLink]="['users']"
    routerLinkActive
    #rlaUsers="routerLinkActive"
    [active]="rlaUsers.isActive"
  >
    Users
  </a>

  @if (authService.user()?.admin) {
    <a
      mat-tab-link
      [routerLink]="['characters-all']"
      routerLinkActive
      #rlaCharactersAll="routerLinkActive"
      [active]="rlaCharactersAll.isActive"
    >
      All characters
    </a>
  }

  @if (authService.user()?.admin) {
    <a
      mat-tab-link
      [routerLink]="['campaigns-all']"
      routerLinkActive
      #rlaCampaignsAll="routerLinkActive"
      [active]="rlaCampaignsAll.isActive"
    >
      All campaigns
    </a>
  }

  <a
    mat-tab-link
    [routerLink]="['campaigns']"
    routerLinkActive
    #rlaUserCampaigns="routerLinkActive"
    [active]="rlaUserCampaigns.isActive"
  >
    Your campaigns
  </a>

  <a
    mat-tab-link
    [routerLink]="['characters']"
    routerLinkActive
    #rlaUserCharacters="routerLinkActive"
    [active]="rlaUserCharacters.isActive"
  >
    Your characters
  </a>
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
