<h1>Dashboard</h1>

<button type="button" mat-flat-button (click)="logout()">Logout</button>

{{ authService.user() | json }}

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    [routerLink]="['users']"
    routerLinkActive
    #rlaUsers="routerLinkActive"
    [active]="rlaUsers.isActive"
  >
    Users
  </a>

  <a
    mat-tab-link
    [routerLink]="['characters-all']"
    routerLinkActive
    #rlaCharactersAll="routerLinkActive"
    [active]="rlaCharactersAll.isActive"
  >
    Characters
  </a>

  <a
    mat-tab-link
    [routerLink]="['user-characters']"
    routerLinkActive
    #rlaUserCharacters="routerLinkActive"
    [active]="rlaUserCharacters.isActive"
  >
    Your characters
  </a>
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
