<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Search</mat-label>

    <input matInput type="text" formControlName="term" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Class</mat-label>
    <mat-select formControlName="class">
      <mat-select-trigger>
        {{ formGroup.controls.class.value }}
      </mat-select-trigger>

      @for (option of characterClasses; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>

    <mat-icon
      matSuffix
      (click)="$event.stopPropagation(); formGroup.controls.class.setValue(undefined)"
      >close</mat-icon
    >
  </mat-form-field>
</form>

<button type="button" mat-button (click)="create()">Create</button>

<mat-paginator
  [length]="paginationService.meta.total()"
  [pageSize]="paginationService.meta.pageSize()"
  [pageSizeOptions]="[]"
  [pageIndex]="paginationService.meta.page()"
  (page)="paginationService.meta.page.set($event.pageIndex)"
/>

<mat-table [dataSource]="(characters$ | async) ?? []">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <span>Name</span>
    </mat-header-cell>

    <mat-cell *matCellDef="let character; dataSource: characters$ | async">
      <span>
        {{ character.name }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="class">
    <mat-header-cell *matHeaderCellDef>
      <span>Class</span>
    </mat-header-cell>

    <mat-cell *matCellDef="let character; dataSource: characters$ | async">
      <span>{{ character.class }}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let character; columns: columns"></mat-row>
</mat-table>
