<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Search</mat-label>

    <input matInput type="text" formControlName="term" />
  </mat-form-field>
</form>

<mat-paginator
  [length]="paginationService.meta.total()"
  [pageSize]="paginationService.meta.pageSize()"
  [pageSizeOptions]="[]"
  [pageIndex]="paginationService.meta.page()"
  (page)="paginationService.meta.page.set($event.pageIndex)"
/>

<mat-table [dataSource]="(users$ | async) ?? []">
  <ng-container matColumnDef="displayName">
    <mat-header-cell *matHeaderCellDef>
      <span>Display name</span>
    </mat-header-cell>

    <mat-cell *matCellDef="let user; dataSource: users$ | async">
      <span>
        <span>{{ user.displayName }} ({{ user._socketIds.length ? 'Active' : 'Inactive' }}</span>
        <span>{{ user._socketIds.length }})</span>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>
      <span>Email</span>
    </mat-header-cell>

    <mat-cell *matCellDef="let user; dataSource: users$ | async">
      <span>{{ user.email }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="admin">
    <mat-header-cell *matHeaderCellDef>
      <span>Admin?</span>
    </mat-header-cell>

    <mat-cell *matCellDef="let user; dataSource: users$ | async">
      <span>{{ user.admin ? 'Yes' : 'No' }}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let user; columns: columns"></mat-row>
</mat-table>
