<h1>Register</h1>

<div [formGroup]="formGroup">
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>

      <input matInput type="text" formControlName="email" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Display name</mat-label>

      <input matInput type="text" formControlName="displayName" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>

      <input matInput [type]="passwordHidden() ? 'password' : 'text'" formControlName="password" />

      <mat-icon
        [color]="null"
        matSuffix
        (click)="$event.stopPropagation(); passwordHiddenToggle()"
        >{{ passwordHidden() ? 'visibility_off' : 'visibility' }}</mat-icon
      >

      @if (formGroup.controls.password.errors?.['minlength']) {
        <mat-error>Minimum length 6 characters</mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Password confirmation</mat-label>

      <input
        matInput
        [type]="passwordConfirmationHidden() ? 'password' : 'text'"
        formControlName="passwordConfirmation"
      />

      <mat-icon
        [color]="null"
        matSuffix
        (click)="$event.stopPropagation(); passwordConfirmationHiddenToggle()"
        >{{ passwordConfirmationHidden() ? 'visibility_off' : 'visibility' }}</mat-icon
      >

      @if (formGroup.controls.passwordConfirmation.errors?.['passwordMismatch']) {
        <mat-error>Password mismatch</mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <button type="button" mat-flat-button (click)="register()" [disabled]="formGroup.invalid">
      Register
    </button>
  </div>
</div>

<a routerLink="/login">Already have an account</a>
